.mainHeaderLogo__logo {
  background: rgba(255, 255, 255, 0.527);
  position: absolute;
  top: 5vh;
  left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  margin: auto auto;
}

.mainHeaderLogo__logo.off {
  display: none;
}

.logo__img {
  width: 10vh;
  height: 10vh;
}

.logo__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
}

.mainHeader__logoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px 20px;
  width: 80%;
  height: 100%;
}

.mainHeader__logoBox--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100px;
  width: 100px;
  margin: auto;
}

.logo__title--row {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.darkBlueBox {
  height: 20px;
  width: 20px;
  background: #0a0927;
  margin: 2px;
  color: #fff;
  font-size: 10px;
  padding: 2px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.darkBlueBox:hover {
  opacity: .5;
}

.redCircle {
  width: 10px;
  height: 10px;
  background: #c90617;
  border-radius: 50%;
  border: 1px solid #0a0927;
}

@media (orientation: landscape) and (min-width: 1026px) {
  .mainHeaderLogo__logo {
    height: 40vh;
    left: 3vh;
    -webkit-transform: none;
            transform: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .mainHeader__logoBox--logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 96px;
    width: 96px;
    margin: auto;
  }
  .darkBlueBox {
    height: 20px;
    width: 20px;
    background: #0a0927;
    margin: 2px;
    color: #fff;
    font-size: 10px;
    padding: 1px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .darkBlueBox:hover {
    opacity: .5;
  }
  .redCircle {
    width: 10px;
    height: 10px;
    background: #c90617;
    border-radius: 50%;
    border: 1px solid #0a0927;
  }
  .logo__title {
    padding: 15px;
    background: rgba(10, 9, 39, 0.5);
  }
  .logo__title--row {
    font-weight: normal;
    line-height: 2;
    color: white;
    font-size: 14px;
  }
}
/*# sourceMappingURL=logo.css.map */